body
{
	margin:					0px;
	padding:				0px;
	background-color: 		black;
}

#content
{
	position:			 	absolute;
	top:					30px;
	left:					200px;
	height: 				1253px;
	width: 					1195px;
	border: 				1px solid grey;
	background-color: 		#DCDCDC;
}

#where
{
	height: 				51px;
	float: 					right;
	width: 					188px;
	border: 				1px solid grey;
	border-right:			0px;
	border-top:				0px;
	background-color: 		white;
	text-align: 			center;
	vertical-align: 		middle;
	line-height: 			45px;
}
