<div id="moduledesc">

{{ activite.name }} : {% trans %}commence le{% endtrans %} {{ activite.datedebut|date('Y-m-d')  }} , {% trans %}finit le {% endtrans %} {{ activite.datefin|date('Y-m-d')  }}
</div>

